/*页面通用样式*/
body{background: #000840;}
img{display: block;width: 100%;}
.fl{float: left;}
.fr{float: right;}
.clear{overflow: hidden;}
/*按钮*/
.btn{width:42%;border:5px solid #E0F4FF;border-radius: 40px;font-weight: bold;  margin:8% auto;color: #fff; font-size: 1.05em;padding:1.5% 0 2.5%;  display: block;text-align: center;background: #F22323;
background: -moz-linear-gradient(left,  #E90303 0%, #FE4D4D 100%);
background: -webkit-gradient(linear, left left, left right, color-stop(0%,#E90303), color-stop(100%,#FE4D4D));
background: -webkit-linear-gradient(left,  #E90303 0%, #FE4D4D 100%);
background: -o-linear-gradient(left,  #E90303 0%, #FE4D4D 100%);
background: -ms-linear-gradient(left,  #E90303 0%, #FE4D4D 100%);
background: linear-gradient(to right,  #E90303 0%, #FE4D4D 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E90303', endColorstr='#FE4D4D',GradientType=0 );}
.btn_lan{background: #F22323;
background: -moz-linear-gradient(left,  #0078E5 0%, #00DBFE 100%);
background: -webkit-gradient(linear, left left, left right, color-stop(0%,#0078E5), color-stop(100%,#00DBFE));
background: -webkit-linear-gradient(left,  #0078E5 0%, #00DBFE 100%);
background: -o-linear-gradient(left,  #0078E5 0%, #00DBFE 100%);
background: -ms-linear-gradient(left,  #0078E5 0%, #00DBFE 100%);
background: linear-gradient(to right,  #0078E5 0%, #00DBFE 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078E5 ', endColorstr='#00DBFE',GradientType=0 );	
}
/*小标题*/
/*标题通用样式*/
.box_hd{width: 100%;overflow: hidden;margin-bottom: 5%;}
.box_hd .left{width:15%;float: left;overflow: hidden;padding:6% 0 3%;}
.box_hd .left .span1{width: 85%;background: #006fe5;height: 1.6em;display: inline-block;float: left;}
.box_hd .left .span2{width: 5%;background: #006fe5;height: 1.6em;display: inline-block;float: right;}
.box_hd .center{width:78%;float: left;color: #fff;font-weight:bold;margin-left:2%;padding:5% 0 3%;}
.box_hd .center p{font-size: 1.3em;}
/*ban开始*/
.ban{background: #010b53;}
.ban .slideBox{width:100%;overflow:hidden; position:relative; }
/*.ban .slideBox .hd{width: 36px;height:15px; overflow:hidden; position:absolute; left:50%;margin-left: -18px;bottom:1%; z-index:1; }
.ban .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.ban .slideBox .hd ul li{ float:left; margin-right:4px;width:12px; height:12px;background:#fff; cursor:pointer;border-radius: 50%;}
.ban .slideBox .hd ul li.on{ background:#F93536;width:13px; height:13px;}
.ban .slideBox .bd{ position:relative; height:100%; z-index:0;}*/
.ban .slideBox .bd li{ zoom:1; vertical-align:middle;position: relative; }
.ban  .btm{position: absolute;top: 0;left: 0;width: 100%;}
.ban .btn{width: 35%;border: none;margin:2% auto 0;padding: 1% 0 2%;}
.ban .ban2_btm{position: relative;}
.ban .ban2_btn{position: absolute;width: 80%;height: 3em;top:50%;left:10%;}
.ban .li2 .img3{margin:5% auto;}
.ban .li2 .con{position: relative;}
.ban .li2 .con a{position: absolute;width: 64%;height:4em;top: 0;left: 18%;}
/*box1开始*/
.box1 img{margin-top: 2.8%;}
.box1 .img1{margin-top: 0;}
/*box2开始*/
.box2 .main{width: 96%; margin: 0 auto;}
.box2 .main li{background: #10184c;margin-bottom: 5%;overflow: hidden;color: #fff;padding: 2% 0;text-align: center;}
.box2 .main .fl{font-size:1.7em;padding: 5% 0;border-right:1px solid #616387;width: 36%;}
.box2 .main .fl span{font-size:.5em;}
.box2 .main .fr{padding: 7% 0;font-size:1em;float: left;width: 64%;}
.box2 .main .odd .fl{padding: 7% 0;font-size:1em;width: 64%;border-right: none ;}
.box2 .main .odd .fr{font-size:1.7em;padding: 5% 0;float: left;width: 36%;border-left:1px solid #616387;}
.box2 .main .odd .fr span{font-size:.5em;}
.box2 .main .li4 .fl{width: 50%; padding:3.5% 0;}
.box2 .main .li4 .fr{width: 50%;}
.box2 .main .li5 .fl{width: 38%; padding: 3.5% 0;}
.box2 .main .li5 .fr{width: 62%;}
/*box3开始*/
.box3 .main{width: 94%;margin: 0 auto;}
.box3 .main h2{font-size: 1.2em;color: #fff;font-weight: bold;margin-bottom: 4%;}
.box3 .top{width: 100%;}
.box3  h3{font-size:1.1em;color: #fff;padding-top: -1%;}
.box3  h3 span{width:16px;height:16px;background: #444F9F;display: inline-block;margin-right: 2%;}
.box3  .box3_top{width: 100%; margin-top:3%;}
.box3  .box3_top ul{width:100%;height:2em;line-height: 2em;text-align: center; background: #444F9F;overflow: hidden;}
.box3   .box3_top ul li{font-size:.9em;float: left; color: #fff;font-weight: bold;}
.box3   .scrollDiv {width: 100%; float:left;height:13.5em;}
.box3   .scrollDiv ol{width: 100%; background: #fff;}
.box3   .scrollDiv ol li{overflow: hidden;height:2em;line-height:2em;}
.box3   .scrollDiv  p{font-size:.9em;color: #000;float: left;text-align: center;}
.box3   li .p2{color: #006FE5;font-weight: bold;text-align: left;padding-left:6%;}
.box3   li .p3{text-align: left;padding-left: 4%;}
.box3   li .p4{text-align: left;padding-left: 10%;}
.box3   .scr1{width:21%;} 
.box3   .scr2{width:14%;}
.box3   .scr3{width: 44%;}
.box3   .scr4{width:15%;} 
.box3   .scr5{width:20%;}
.box3   .scr6{width:43%;}
.box3   .scr7{width:11%;}
.box3   .xinzi{background: #E57100;}
.box3   .scrollDiv .xinzibg {background:url(../images/box3-xinzibg.jpg) no-repeat center;color:#fff;font-weight: bold;background-size: 100% 88%;}
.box3  .btm{width:100%;overflow: hidden;}
.box3  .btm .box3_top ul{background: #444F9F;}
.box3 .xz_btn{width: 55%;margin: 1% auto 10%;}
.box3 .btn2{width: 75%;margin-bottom: 10%;}
.box3 .wl_btn{width: 55%;margin: 8% auto 10%;}
/*box4 开始*/ 
.box4 .main{margin-top: -4%;}
.box4 .top{width: 88%;margin: 0 auto;background: #fff;color: #313131;}
.box4 .top img{width: 94%;padding:3%;padding-bottom: 0;}
.box4 .top h2{font-size: 1.05em;text-align: center;margin: 3% 0 2%;}
.box4 .top p{font-size: .9em;padding: 0 8%;line-height: 1.5em;padding-bottom: 3%;}
.box4 .btn_lan{width: 55%;}
.box4 .btm h2{font-size: 1.1em;text-align: center;color: #fff;}
.box4 .btm ul{width: 94%;margin: 3% auto 0;}
.box4 .btm ul li{overflow: hidden;background: #140D67;margin-bottom: 3%;}
.box4 .btm ul li span{display: block;float: left;color: #fff;font-size: .85em;}
.box4 .btm .span1{color: #271D99;font-size: 1.8em;font-weight: bold;width: 12%;}
.box4 .btm .span2{width: 54%;margin-top: 3%;}
.box4 .btm .span3{width: 34%;margin-top: 3%;}
/*box5开始*/
.box5{margin-bottom: 3%;}
.box5 .top,.box5 .btm{width: 94%;margin:8% auto 0;border-radius: 10px;border: 3px solid #0E3B80;position: relative;}
.box5  h3{width: 76%;margin: 0 auto;height: 2em;line-height: 2em; text-align: center;color: #fff;font-size: .92em;background: #F52F2F;position: absolute;top: -6%;left: 12%;}
.box5  .top ul{width: 96%;margin:8% auto 1%;padding-bottom: 2%; }
.box5  .top ul li{width: 100%;overflow: hidden;margin-bottom: 4%;}
.box5  .top ul li img{width: 20%;float: left;padding-top: 1%;}
.box5  .top ul li p{width: 78%;text-indent: 2em;color: #fff;float: right;font-size: .8em;line-height: 1.5em;}
.box5  .top ul .li2 img{float: right;}
.box5  .top ul .li2 p{float: left;width: 79%;}
.box5  .top ul .li2 span{color: #00F0FF;}
.box5 .btm {width: 100%;border-radius: 0;  margin-top: 12%;border: none;border-top:1px dashed #5597C0 ;margin-bottom: 10%;}
.box5 .btm h3{top: -1.5%;}
.box5 .btm .con{overflow: hidden;padding: 0 5%;margin-top:12%;}
.box5 .btm .con .fl{width:8.4%;}
.box5 .btm .con .fr{width: 85%;}
.box5 .btm .con .fr p{font-size:.85em;line-height:1.8em;color: #11E0FF;}
.box5 .btm .con .span2{display: block;margin-top: -3%;}
.box5 .btm .btn{width: 55%;}
.box5 .btm .con2{margin-top:5%;}
.box5 .btm .con2 .fr p{color: #fff;}
/*box6开始*/
.box6{overflow: hidden;}
.box6 .box6-main{position: relative;margin-top: -6%;}
.box6 .slides{margin-top:24%;}
.box6 .flex-control-nav { display:inline-block; position: absolute; left:4%;top:4%; width:95%;margin: 0 auto;}
.box6 .flex-control-nav li {float: left; width:14%; opacity: 1; height:52px; line-height: 52px;background: url(../images/box6-blue.jpg) no-repeat top left ;background-size: 100%;margin-right:2.5%;}
.box6  .flex-control-nav li a{width: 100%; height:52px;line-height: 46px;text-align: center; display:block;cursor:pointer;font-size: 1em; color:#fff;font-weight: bold;}
.box6  .flex-control-nav li a.flex-active {background: url(../images/box6-red.jpg) no-repeat top left ;background-size: 100%; } 
.box6  .flex-control-nav .li6{margin-right:0%;} 
.box6  .flex-direction-nav .flex-prev{ font-size: 0; width:10%;height: 40px;background: url(../images/box6-left.png) no-repeat center;background-size: 60%;display: block;position: absolute;left: -1%;top: 24%; }
.box6 .flex-direction-nav .flex-next{ font-size: 0; width:10%;height: 40px;background: url(../images/box6-right.png) no-repeat center;background-size: 60%;display: block;position: absolute;right: -1%;top: 24%; }
.box6 .slide{width: 90%;margin: 0 auto;}
.box6 .slide .btm{overflow: hidden;margin-top: 5%;}
.box6 .slide .img1{float: left;width: 90%;margin-left: 5%;}
.box6 .slide .btm{float: right;overflow: hidden;}
.box6 .slide .btm img{width: 16%; float: left;margin-right:2%;}
.box6 .slide .btm .word{width:81%;float: right;}
.box6 .slide .btm p{color: #fff;font-size:.9em;line-height: 1.4em;}
.box6 .slide .btm .p1{font-size:1.1em;font-weight: bold;}
.box6 .slide .btm .p2 {margin-bottom:9%;}
/*box8开始*/
.box8 .btn{width: 50%;}
/*box10开始*/
.box10{margin-bottom: 3%;overflow: hidden;}
.box10 .box10-main{position: relative;color: #fff;}
.box10  .slide ul li.on{background: #128EF9;}
.box10  .slide{position:relative; z-index:0;}
.box10  .slide ul li{zoom:1; vertical-align:middle; }
.box10  .slide  ol{overflow: hidden;width: 90%;margin: 0 auto;}
.box10  .slide ol li{width: 32%;float: left;margin-bottom: 6%;margin-left:1%;}
.box10  .slide ol li .bg{width: 100%; position: relative;height:8em;}
.box10  .slide ol li .border{width: 80%;height:8em;border: 1px solid #58A6D0;position: absolute;left: 20%;top:0;}
.box10  .slide ol li img{width: 80%;position: absolute;left: 5%;top: 7%;z-index: 2;}
.box10  .slide ol li p{text-align: center; color: #fff;font-size: 1.1em;margin-top:8%;}
.box10 .p3{color: #138EF9; font-size: 1em; text-align: center;margin: 5% 0;}
.box10 .p4{color: #fff; font-size: .9em; text-align: center;margin: 4% 0 0;}
.box10 .flex-control-nav {display:inline-block; position: absolute; left: 22%; bottom:-1%; width:64%;margin: 0 auto;}
.box10 .flex-control-nav li {float: left; width:15%; opacity: 1; height: 6px; line-height: 6px; font-size:0; background: #BCC4C7; margin-right: 3.5%;}
.box10 .flex-control-nav li a{width:100%; height:auto; display:block; text-indent:-9000px; cursor:pointer;}
.box10 .flex-control-nav li a.flex-active {background:#128EF9;}
.box10  .btn{width: 50%;}
.box11 h2{font-size: 1.4em;color: #fff;text-align: center;font-weight: bold;margin: 6% 0 6%;}
.box12{background: #F3F3F3;}
.box12 .top{background: #4792DC;}
.box12 .top p{text-align: center;font-size: 1em;color: #fff;font-weight: bold;padding: 4% 0;}
.box14 {background: #EEEEEE;padding: 5% 0 14%;}
.box14 p{text-align: center;font-size:.95em;color: #000;}
.box14 img{width: 4%;display:inline-block;}
.bdzx{width:100%; height: 2.5em; background: #1BAAF8; position: fixed; bottom:0; left:0; z-index: 99; max-width: 750px;}
.bdzx a{ line-height: 2.5em; color: #fff; display: block; float: left; width:49%; height: 2.5em; text-align: center;}
.bdzx a.zx_btn{border-right: 1px solid #fff; background: url('http://www.itheima.com/templates/subject/images/qq_icon.jpg') no-repeat 20% center; background-size: 10%;}
.bdzx a.tel_btn{ background: url('http://www.itheima.com/templates/subject/images/phone_bg.jpg') no-repeat 17% center; background-size: 12%;}
@media screen and (max-width: 320px){
	body{font-size: .9rem}
	.btn{width:46%;}
	.box6 .flex-control-nav li {height: 42px;line-height:42px;}
	.box6  .flex-control-nav li a{height: 42px;line-height:42px;}
	.box10  .slide ol li .bg{height: 7em;}
	.box10  .slide ol li .border{height:7em;}
	.box10  .slide ol li img{top: 8%;}
	.box10 .hd .center .p1{font-size:1em;}
	.box5 .btm .con .fl{width:9%;}
	.box5 .btm .con .fr{width: 86%;}
}
@media (min-width : 410px) and (max-width : 736px){
	.box5 .btm .con .fr p{font-size:.95em;}
}
@media screen and (min-width: 750px){
	body{font-size: 1.5rem}
	.ban .ban2_btn{height: 4em;}
	.btn{width:40%;}
	.box3  h3 span{width:25px;height:25px;}
	.box3   .scrollDiv {height:15em;}
	.box3  .scrollDiv ol li{height:2.2em;line-height:2.2em;}
	.box3 .xz_btn{width: 45%;}
	.box3 .btn2{width:60%;}
	.box3 .wl_btn{width: 45%;}
	.box4 .btn_lan{width: 45%;}
	.box4 .top p{padding: 0 6%;padding-bottom: 3%;}
	.box4 .btm ul{width: 84%;}
	.box5 .btm .btn{width: 45%;}
	.box5 .btm .con{padding: 0 8%;}
	.box5 .btm .con .fl{width:7.6%;}
	.box5 .btm .con .fr{width: 86%;}
	.box5 .btm .con .fr p{font-size:1em;}
	.box6 .slide .btm img{width: 14%;}
	.box6 .flex-control-nav li {height: 97px;line-height: 97px;}
	.box6  .flex-control-nav li a{height: 97px;line-height:97px;}
	.box6 .slide{width: 80%;}
	.box6 .flex-direction-nav .flex-prev{width:10%;height: 80px;background-size: 60%;left: 2%;top: 24%; }
	.box6 .flex-direction-nav .flex-next{ font-size: 0; width:10%;height:80px;background-size: 60%;position: absolute;right:2%;top: 24%; }	
	.box8 .btn{width: 45%;}
	.box10  .slide ol li .bg{height: 10em;}
	.box10  .slide ol li .border{height:10em;}
	.box10  .slide ol li img{top:8%;}
	.box10  .btn{width: 45%;}
	.bdzx{height: 3.5em; left: 50%; margin-left: -375px;}
	.bdzx a{font-size: 1.4em;}
}