@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0;font-size:14px;}
table { border-collapse:collapse; border-spacing:0; margin:0; padding:0;}
textarea{resize:none;}
fieldset, img { border:0; }
img{ vertical-align:top;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ol, ul,li { list-style:none; }
abbr, acronym { border:0; }
em,i{font-style: normal;}
a{ text-decoration:none; cursor:pointer;}
body{
  min-width: 1200px;
  background:#fff;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.base{
    width:1200px;
    margin:0 auto;
}






